#root {
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  background-color: rgb(1,1,1);
  height: 100vh;
}

.image-icon {
  width: 100px;
  height: 100px;
  max-height: 100px;
  margin: 0 20px;
  border: 5px solid black;
}

.link-no-style {
  text-decoration: none;
  color: inherit;
}